Define a function that accepts a number and returns whether the number is even or odd.

In [ ]:
def your_number(number):
    if number % 2 == 0:
        print("The number is Even")
    else:
        print("The number is Odd")

In [ ]:
your_number(10)

The number is Even

In [ ]:
your_number(13)

The number is Odd

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def square_list():
    list = []
    for numbers in range(1, 31):
        list.append(numbers ** 2)
    print(list)

In [ ]:
square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [ ]:
def shut_down(value):
    if value == "yes":
        print("Shutting down")
    elif value == "no":
        print("Shutdown aborted")
    else:
        print("Sorry")

In [ ]:
shut_down("yes")

Shutting down

In [ ]:
shut_down("no")

Shutdown aborted

In [ ]:
shut_down("restart")

Sorry



Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [ ]:
def by_three(number):
    if number % 3 == 0:
        print(number ** 3)
    else:
        print(False)

In [ ]:
by_three(9)

729

In [ ]:
by_three(20)

False

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [ ]:
def remove_duplicates(input_list):

    no_duplicates = list(set(input_list))
    return no_duplicates


input_list = [10, 25, 31, 25, 45, 45, 93, 18]
print("Original list:", input_list)
print("List without duplicates:", remove_duplicates(input_list))

Original list: [10, 25, 31, 25, 45, 45, 93, 18]
List without duplicates: [10, 45, 18, 25, 93, 31]