In [ ]:
#For_Loop

Display the names of your friends one by one stored in the form of a list.

In [ ]:
names=['George', 'Catherine', 'John', 'Chirag', 'Rishabh', 'Tushar', 'Sagar', 'Alok']

for name in names: #'name' is iterator
  print(name)

George
Catherine
John
Chirag
Rishabh
Tushar
Sagar
Alok

In [ ]:
#loops

In [ ]:
#for loop

Display the first 10 whole numbers

In [ ]:
for i in range(0,10):  #by default the step size will be 1
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2):  #here step size is 2 - consequtive o/ps will have diff of 2
  print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [ ]:
for i in range(0,10,4):
  print(i)

0
4
8

Take a list of numbers and display all the even numbers from this list

In [ ]:
list=[51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70]

for x in list:
  if x%2==0:
    print(x,end=' ') #for horizontal output use print( ,end=' ')

52 54 56 58 60 62 64 66 68 70

In [ ]:
list=[51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70]

for x in list:
  if x%2!=0:
    print(x)

51
53
55
57
59
61
63
65
67
69

In [ ]:
#While_Loop

Display all the numbers including 1 to 10

In [ ]:
a=1

while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

Display all the even numbers between 1 to 20 (both numbers included)

In [ ]:
a=2

while a<=20:
  print(a)
  a+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
a=0

while a<=20:
  print(a)
  a=a+2

0
2
4
6
8
10
12
14
16
18
20

Controlling the flow in Loops

1. Break Statement - Breaks the loop when an element is satisfying a given condition

2. Continue Statement - The loop continues to iterate and only the element in the given condition gets skipped

In [ ]:
fruit=['Mango', 'Banana', 'PineApple', 'Guava', 'Grapes', 'Potato', 'Tomato']

for i in fruit:
  if i=='Guava': #if the fruit becomes Guava (4th iteration)
    break
  print(i)

Mango
Banana
PineApple

In [ ]:
fruit=['Mango', 'Banana', 'PineApple', 'Guava', 'Grapes', 'Potato', 'Tomato']

for i in fruit:
  if i=='Guava': #Guava will be skipped but the iteration will not stop
    continue
  print(i)

Mango
Banana
PineApple
Grapes
Potato
Tomato