In [1]:
x = 2
y = 4

for i in range (x,y):
  if i == 3:
    continue
  elif i == 4:
      break
  else:
    print(i)

2

In [2]:
x=4
y=10

while x>y:
  x-=1
  y+=1
else:
  y-=1
  print(y)

9

In [3]:
x=3
y=6

if x<y:
  if y>10:
    z=x+y
  else:
    z=x-y
else:
  z=x*y
print(z)

-3

In [4]:
x=5
y=3

if x <y:
  z=x+y
elif x>y:
  z=x-y
else:
  z=x*y
print(z)

2

In [5]:
x=4
y=8

for i in range(x,y):
  if i%2==0:
    continue
  else:
    print(i)

5
7

In [6]:
x=5
y=3

if x>y:
  z=x+y
elif x<y:
  z=x-y
else:
  z=x*y
print(z)

8

In [7]:
my_list=[1, 2, 3, 4, 5]
my_list.extend([6, 7])
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [8]:
my_tuple = (1,2,3)
new_tuple = my_tuple + (4,5,6)
print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [9]:
my_list = [1, 2, 3, 4, 5]
new_list = sorted(my_list, reverse=True)
print(new_list)

[5, 4, 3, 2, 1]

In [10]:
my_list = [1, 2, 3, 4, 5]
new_list = my_list[1:3]
print(new_list)

[2, 3]

In [11]:
my_tuple = (1, 2, 3, 4, 5)
repeated_tuple=my_tuple*3
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [12]:
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4,)
print(new_tuple)

(1, 2, 3, 4)

In [13]:
my_tuple = (1, 2, 3, 4, 5)
sum_of_tuple = sum(my_tuple)
print(sum_of_tuple)

15

In [14]:
my_list = [1, 2, 3, 4, 5]
del my_list[2]
print(my_list)

[1, 2, 4, 5]

In [15]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [16]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 10)
print(my_list)

[1, 2, 10, 3, 4, 5]

In [17]:
my_tuple = (1, 2, 3, 4, 5)
new_tuple = my_tuple[-3:-1]
print(new_tuple)

(3, 4)

In [18]:
my_tuple = (1, 2, 3, 4, 5)
new_tuple = my_tuple[::-1]
print(new_tuple)

(5, 4, 3, 2, 1)

In [19]:
my_list = [1,2,3,4,5]
repeated_list = my_list*2
print(repeated_list)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [20]:
x=3
y=6
while x<y:
  if y%2==0:
    x+=y
  else:
    x-=y
print(x)

9

In [21]:
def count_vowels(word):
  vowels = ['a', 'e', 'i', 'o', 'u']
  count = 0
  for letter in word:
    if letter.lower() in vowels:
      count += 1
  return count

In [22]:
word="Hello World"
result=count_vowels(word)
print(result)

3

In [23]:
def calculate_average(nums):
  return sum(nums)/len(nums)

In [24]:
my_nums=[1,2,3,4,5]
result=calculate_average(my_nums)
print(result)

3.0

In [25]:
def find_average(nums):
  positive_nums=[num for num in nums if num>0]
  return sum(positive_nums)/len(positive_nums)

In [26]:
my_nums=[-1,2,-3,4,-5]
result=find_average(my_nums)
print(result)

3.0

In [27]:
def modify_list(lst):
  lst.append(4)

In [28]:
my_list = [1,2,3]
modify_list(my_list)
print(len(my_list))

4

In [29]:
def remove_duplicates(string):
  unique_chars = []

  for char in string:
    if char not in unique_chars:
      unique_chars.append(char)

  return ''.join(unique_chars)

In [30]:
my_string = "abracadabra"
result = remove_duplicates(my_string)
print(result)

abrcd

In [31]:
x = 4
result = x > 5
print(result)

False

In [32]:
x = "Python"
result = x[1:5:2]
print(result)

yh

In [33]:
x = True
y = False
result = x or y
print(result)

True

In [34]:
x = 5
y = "2"

result = str(x) + y
print(result)

52