In [ ]:
def add(a,b): #a and b are parameters (variables)

  sum=a+b
  print(sum)

In [ ]:
add(5,10) #5 and 10 are arguments to the parameter

15

In [ ]:
add(4,1)

5

In [ ]:
add(10,50)

60

In [ ]:
add(-5,-7)

-12

Create a function which takes 2 numbers and display the addition, subtraction, multiplication and division of these two numbers

In [ ]:
def compute(a,b):
  s=a+b
  t=a-b
  u=a*b
  v=a/b

  print(s,t,u,v)

In [ ]:
compute(7,9)

16 -2 63 0.7777777777777778

Create a function which displays the name, age and city of a candidate

In [ ]:
def info(name, age, city):
  print(name, age, city)

In [ ]:
info('Aditya', 22, 'Pune')

Aditya 22 Pune

Types of Arguments

1. Positional Arguments
2. Default Arguments
3. Arbitrary Arguments
4. Keyword Arguments
5. Arbitrary Keyword Arguments

In [ ]:
#Positional Arguments

In [1]:
def name(firstname,lastname):
  print('Hi your first name is',firstname)

In [2]:
name('Aditya','Gurav')

Hi your first name is Aditya

In [ ]:
#Default Arguments

In [3]:
def greet(name,message='Hi how are you?'): #message is the default argument
  print(name,message)

In [4]:
greet('Aditya','Good Morning')

Aditya Good Morning

In [5]:
greet('Aditya',)

Aditya Hi how are you?

Create a function which takes name and salary as input and incase the salary is not provided, use default salary as 25000. Display
the name and salary of the individual.

In [6]:
def info(name, salary="25000"): #salalry is the default argument
  print(name,salary)

In [9]:
info("Aditya",)

Aditya 25000

In [10]:
info('Aditya', 40000)

Aditya 40000

In [11]:
#Keyword Argument

def greet(name, age, message):
  print(message, name, "you are age is", age)

In [12]:
greet(name="Adi", age=22, message="Good morning") #while calling the function, we need to provide the input in key-value format

Good morning Adi you are age is 22

In [13]:
greet(age=28, message="Good morning", name="Aditya")

Good morning Aditya you are age is 28

In [14]:
greet(message="How are you?", name="Aditya", age=22)

How are you? Aditya you are age is 22

In [ ]:
#Arbitrary Arguments, default type is tuple

In [15]:
def add(*args):
  print(type(args))
  print(args)

  sum=0
  for num in args:
    sum=sum+num
  return sum

In [16]:
add(3,4)

<class 'tuple'>
(3, 4)

7

In [17]:
add(3,8,9,-3,-5,12)

<class 'tuple'>
(3, 8, 9, -3, -5, 12)

24

In [18]:
def func(a,b,*args):
  print(a)
  print(b)
  print(args)

In [19]:
func(5,7,568945)

5
7
(568945,)

In [20]:
func(5,7,5,6,8,9,4,5)

5
7
(5, 6, 8, 9, 4, 5)

In [24]:
#Arbitrary Keyword Arguments -- *kwargs , Default type is Dictionary

In [22]:
def display(**kwargs):
  print(type(kwargs))
  print(kwargs)

  for key, value in kwargs.items():
    print(key,"-->", value)

In [23]:
display(name="Aditya", age=22, city="Pune")

<class 'dict'>
{'name': 'Aditya', 'age': 22, 'city': 'Pune'}
name --> Aditya
age --> 22
city --> Pune